.header{
    height: 80px;
    background-color:red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}
nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 1.5rem;
}
nav.header a:hover{
    color: orange;
}